<div class="banner" style="background-image: url('http://www.landmark.hk/en/~/media/images/landmark/shopping/shopdetail/slider/dr_ferns_gin_parlour_1.jpg')">
  <div class="banner-content">
  </div>
</div>
